@import "_variables";

@import "../../../content/scss/theme/widgets";

body {
  min-height: 75rem;
  // adjust according to navbar height
  padding-top: 3.5em;
  padding-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.blog-content {
  padding: 6px;
  background-color: #f7f7ef;
  margin: 20px 0px 20px 0px;
}

.blog-aside {
  padding: 6px;
  background-color: #eef6f6;
  margin: 20px 0px 20px 0px;
}