  <script src="{{get_media('js/vendor/wow.js')}}" type="text/javascript"></script>
  <script src="{{get_media('js/vendor/fslightbox.js')}}" type="text/javascript"></script>
  <script src="{{get_media('js/main.js')}}" type="text/javascript"></script>
  {% if page.script -%}
  <script type="text/javascript">
    {{page.script|safe}}
  </script>
  {% endif -%}
