  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto Mono'>
  <link rel="stylesheet" href="{{ get_media('css/custom_bootstrap.css') }}">
  <link rel="stylesheet" href="{{ get_media('css/vendor/bsicons/bootstrap-icons.css') }}">
  <link rel="stylesheet" href="{{ get_media('css/vendor/fontawesome/css/all.css') }}">
  <link rel="stylesheet" href="{{ get_media('css/vendor/google/iconfont/material-icons.css') }}">
  <link rel="stylesheet" href="{{ get_media('css/vendor/google/material-symbols/index.css') }}">
  <link rel="stylesheet" href="{{ get_media('css/vendor/animate.min.css') }}">
  <link rel="stylesheet" href="{{ get_media('css/vendor/slick/slick.css') }}" />
  <link rel="stylesheet" href="{{ get_media('css/vendor/slick/slick-theme.css') }}" />
  <link rel="stylesheet" href="{{ get_media('css/main.css') }}">

  <script src="{{get_media('js/bootstrap.bundle.min.js')}}" type="text/javascript"></script>
  <script src="{{get_media('js/jquery.js')}}" type="text/javascript"></script>
  <script src="{{get_media('css/vendor/slick/slick.js')}}" type="text/javascript"></script>

  {# change the color of arrows in slick component
  https://stackoverflow.com/questions/23337972/slick-carousel-arrows-do-not-appear-and-work-as-they-ought-to
  -#}
  <style> .slick-prev:before,.slick-next:before { color: grey !important; }</style>

