{# euro cookies law

thanks to: https://html-online.com/articles/cookie-warning-widget-with-javascript/

parameters can be set on config.yaml

parameters:
cookie_button: button text
cookie_text: message text
cookie_link: details link
-#}
<div id="myCookieConsent" style="display: none;">
  <a id="cookieButton">{{cookie_button or 'Understood'}}</a>
  {%- if cookie_text -%}
  <div>{{cookie_text -}}
  {%- if cookie_link -%} <a href="{{get_url(cookie_link[0])}}">{{cookie_link[1]}}</a> {%- endif -%} </div>
  {% else %}
  <div>This website is using cookies. <a href="{{get_url('cookies')}}">More details</a></div>
  {% endif %}
</div>
