{# nav_items

The navbar is splitted in navbar and nav_items, so it is easier to defivate
themes with differnt navbar styles.

#}
          {# start navbar items -------------------------------------------- #}
          {% for item in config[page.menu] or MainMenu -%}
          {% if not (item.static_out and is_static) -%}
          {% if not "drop" in item -%}
            {% if "megamenu" in item -%}
            <li class="nav-item dropdown dropdown-mega position-static">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">{{ item.name }}</a>
            <div class="dropdown-menu {{navbar_class}}">
              {{ include(page.megamenu or item.megamenu) }}
            </div>
            </li>
            {% else -%}
            <li class="nav-item">
              <a class="nav-link {{'active' if page.pagename == item.url}}" aria-current="page" target="{{item.target or '_self'}}"  href="{{get_url(item.url)}}">{{ item.name }}</a>
            </li>
            {% endif -%}
          {% else -%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside">{{ item.name }}</a>
              <ul class="dropdown-menu {{navbar_class}}">
                {% for drop in item.drop -%}
                {% if not (drop.static_out and is_static) -%}
                {% if not "drop" in drop -%}
                <li><a class="dropdown-item {{'active' if page.pagename == drop.url}}" target="{{drop.target or '_self'}}" href="{{get_url(drop.url)}}">{{ drop.name}}</a></li>
                {% else -%}
                <li class="dropend">
                  <a class="dropdown-item dropdown-toggle"  data-bs-toggle="dropdown" data-bs-auto-close="outside" href="#">{{ drop.name }}</a>
                  <ul class="dropdown-menu {{navbar_class}}">
                    {% for drop2 in drop.drop -%}
                    <li><a class="dropdown-item {{'active' if page.pagename == drop2.url}}" target="{{drop2.target or '_self'}}" href="{{get_url(drop2.url)}}">{{ drop2.name }}</a></li>
                    {% endfor -%}
                  </ul>
                </li>
                {% endif -%}
                {% endif -%}
                {% endfor -%}
              </ul>
            </li>
          {% endif -%}
          {% endif -%}
          {% endfor -%}
          {# end navbar items ---------------------------------------------- #}
