{# navbar

It is a standard bootstrap navbar with this features:
- Up to 3 levels of menu
- Optional Megamenu
- Optional Search form
- Position left, center or right
- Each page can have his optional menu and/or megamenu

Prarmeters are in config.yaml file, navbar items are in separate file
nav_items.html, so it is easier to change style in derivated themes


I taked inspiration from: https://codepen.io/typo3-freelancer/pen/poEvyGj

parameters:
  MainMenu: all menu items, see config.yaml for structure
  navbar_style: color of navbar, see bootstrap documentation
  navbar_class: additional classes for navbar and dropdown i.e. "shadow"
  navbar_pos: can be "left", "right" or "center" default "left"
  navbar_search: placeholder for navbar search, if not present search form is omitted

#}
<div class="fixed-top">
  {%- if header_links -%}
  <div class="top-header-area {{ navbar_style }}">
    <div class="container-fluid">
      <div class="row align-items-center" style="text-align: right;">
        <div class="top-info-area">
          {% for item in header_links -%}
          {{ item|safe }}
          {% endfor -%}
        </div>
      </div>
    </div>
  </div>
  {%- endif -%}
  <nav class="navbar navbar-expand-lg {{navbar_style}} {{navbar_class}}">
    <div class="container-fluid">
      <a class="navbar-brand p-0 me-2" href="{{get_url('index')}}"><img src="{{ get_media('images/logo.png')}}" alt=""></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-content">
        {% if navbar_pos in ['right','center'] -%}
        <div class="navbar-nav me-auto navbar-nav-scroll"></div>
        {% endif -%}
        {% if navbar_pos == 'right' -%}
        <ul id="main-menu" class="navbar-nav d-flex">
        {% else -%}
        <ul id="main-menu" class="navbar-nav me-auto navbar-nav-scroll">
        {% endif -%}
          {%include "include/nav_items.html" -%}
        </ul>
        {% if navbar_search %}
        <form class="d-flex">
          <div class="input-group">
            <input class="form-control border-0 mr-2" type="search" placeholder="{{navbar_search}}" aria-label="{{navbar_search}}">
            <button class="btn btn-secondary border-0" type="submit"><i class="bi bi-search"></i></button>
          </div>
        </form>
        {% endif -%}
      </div>
    </div>
  </nav>
</div>
{%include "include/hero.html" -%}