{% if page %}
<footer class="footer">
    <div class="container-fluid bg-light" style="min-height: 200px;">
        <hr>
        <div class="container">
        <span class="text-muted"> <i>{{slogan}}</i> </span>
        <p style="color: goldenrod;">A custom footer...</p>
        <p>Page last updated on {{ page.date.strftime('%Y-%m-%d') }}</p>
        </div>
    </div>
</footer>
{% endif %}
