.carousel-caption {
  bottom: 2.5rem;
  border-radius: 10px;
  z-index: 10;
}

.carousel-caption-bg {
  background: rgba(160, 160, 160, 0.5);
  padding: 20px;
}

.carousel-item {
  img {
    min-width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    overflow: hidden;
  }
}