// divider
.divider {
  min-height: 1rem;
  height: auto;
}

// adjust height
@for $i from 5 through 20 {
  .divider-#{$i * 10} {
    min-height: #{$i * 10}px;
    height: auto;
  }
}

.divider-left {

  border-left: solid 8px;
  padding: 10px 10px 6px 20px;
  margin: 20px 0 20px;
  background-color: #fcfcfe;

  h2 {
    color: dimgray;
    font-style: italic;
    font-size: 1.8em;
  }

  h3 {
    color: darkgrey;
    font-style: italic;
    font-size: 1.5em;
  }
}

.divider-shadow {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 4px 0 20px;
  padding: 4px 0 4px;
  box-shadow: inset 0 0 0.5em #888888;
  border-radius: 0.5rem;
}