// thanks to: https://html-online.com/articles/cookie-warning-widget-with-javascript/

#myCookieConsent {
  z-index: 999;
  min-height: 20px;
  font-family: OpenSans, arial, "sans-serif";
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  position: fixed;
  color: #fff;
  bottom: 0px;
  right: 10px;
  display: none;
  left: 0;
  text-align: center;
  font-size: 16px;
  font-weight: bold;

  div {
    padding: 7px 0 0;
  }
  a {
    color: $warning;
  }
  a:hover {
    color: lighten($warning, 20%);
  }

  a#cookieButton {
    display: inline-block;
    font-size: 1.1em;
    background: lighten($warning, 20%);
    text-decoration: none;
    cursor: pointer;
    padding: 4px 20px;
    float: right;
    border-radius: 20px;
  }

  a#cookieButton:hover {
    background: $warning;
  }
}
