.image-caption {
  position: relative;
}

.img-caption {
  width: 100%;
  height: auto;
}

.topleft-caption {
  position: absolute;
  top: 8px;
  left: 8px;
}

.topright-caption {
  position: absolute;
  top: 8px;
  right: 8px;
}

.bottomleft-caption {
  position: absolute;
  bottom: 8px;
  left: 8px;
}

.bottomright-caption {
  position: absolute;
  bottom: 8px;
  right: 8px;
}

.centered-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

