.overlay-target

// --------------------------------------------------------------------------

.overlay-fade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: grey;
}

.overlay-target:hover .overlay-fade {
  opacity: 1;
}

// --------------------------------------------------------------------------

.overlay-top {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay-target:hover .overlay-top {
  bottom: 0;
  height: 100%;
}

// --------------------------------------------------------------------------

.overlay-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.overlay-target:hover .overlay-bottom {
  height: 100%;
}

// --------------------------------------------------------------------------

.overlay-left {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.overlay-target:hover .overlay-left {
  width: 100%;
}

// --------------------------------------------------------------------------

.overlay-right {
  position: absolute;
  bottom: 0;
  left: 100%;
  right: 0;
  background-color: grey;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
}

.overlay-target:hover .overlay-right {
  width: 100%;
  left: 0;
}

// --------------------------------------------------------------------------

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


