{# _cards

This template is included in cards widget and in slick widget to share the same
code for the list of cards.

The parameters of cards and slick widgets are specific to those components,
here are listed the parameters for the cards.

cards: list of cards to display in cards or slick widgets
  header: set some text for an header
  text: text or content for card
  footer: set some text for a footer
  horizontal: left column size for horizontal card (vertical if empty)
  style: additional css style rules for this card
  width: width of single card (0-12) valid only if widget.columns is not set
  icon: instead of image you can insert some html to show an icon
  image: image url (from media path)
  bottom: if true image or icon are placed to bottom or right if horizontal
  class: set additional classes for this card
  col_class: class of a single column
  body_class: class for body part
  image_class: class for image or icon
  image_alt: alt text for image
-#}

{% for i, card in enum_list(widget.cards) -%}
<div id="col-{{ i }}-{{ widget.id }}"
  class="col-{{ widget.breakpoint or 'md' }}{% if card.width %}-{{ card.width }}{% endif %} {{ widget.col_class }} {{ card.col_class }}">
  <div id="card-{{ i }}-{{ widget.id }}"
    class="card {{ iif(widget.var_height,'','h-100') }} {{ widget.card_class }} {{ card.class }}" style="{{ card.style }}">

    {% if card.header -%}
    <div id="header-{{ i }}-{{ widget.id }}" class="card-header {{ widget.body_class }} {{ card.body_class }}">{{ card.header }}
    </div>
    {% endif -%}

    {% if card.horizontal -%}
    <div class="row g-0">
      <div class="col-{{ card.horizontal }}">
        {% endif -%}

        {% if not card.bottom -%}

        {% if card.image -%}
        {% if widget.gallery -%}<a data-fslightbox="{{ widget.id }}" href="{{ get_media(card.image) }}">{% endif -%}
          <img id="img-{{ i }}-{{ widget.id }}" src="{{ get_media(card.image) }}"
            class="card-img-top {{ widget.image_class }} {{ card.image_class }}" alt="{{ card.image_alt }}">
          {% if widget.gallery -%}</a>{% endif -%}
        {% endif -%}

        {% if card.icon -%}
        <div id="icon-{{ i }}-{{ widget.id }}" class="text-center {{ widget.image_class }} {{ card.image_class }}">{{ card.icon }}
        </div>
        {% endif -%}

        {% if card.horizontal -%}
      </div>
      <div class="col-md-{{ 12-card.horizontal }}">
        {% endif -%}

        {% endif -%}

        {% if card.text -%}
        <div id="body-{{ i }}-{{ widget.id }}" class="card-body {{ widget.body_class }} {{ card.body_class }}">
          {{ card.text }}
        </div>
        {% endif -%}

        {% if card.list -%}
        <ul id="list-{{ i }}-{{ widget.id }}" class="list-group {{ widget.body_class }} {{ card.body_class }}">
          {% for li in card.list -%}
          {% if li.text -%}
          <li class="list-group-item bg-transparent">{{ li.text }}</li>
          {% else -%}
          <li class="list-group-item bg-transparent">{{ li.row }}</li>
          {% endif -%}
          {% endfor -%}
        </ul>
        {% endif -%}

        {% if card.bottom -%}

        {% if card.horizontal -%}
      </div>
      <div class="col-md-{{ 12-card.horizontal }}">
        {% endif -%}

        {% if card.image -%}
        {% if widget.gallery -%}<a data-fslightbox="{{ widget.id }}" href="{{ get_media(card.image) }}">{% endif -%}
          <img id="img-{{ i }}-{{ widget.id }}" src="{{ get_media(card.image) }}"
            class="card-img-top {{ widget.image_class }} {{ card.image_class }}" alt="{{ card.image_alt }}">
          {% if widget.gallery -%}</a>{% endif -%}
        {% endif -%}

        {% if card.icon -%}
        <div id="icon-{{ i }}-{{ widget.id }}" class="text-center {{ widget.image_class }} {{ card.image_class }}">{{ card.icon }}
        </div>
        {% endif -%}

        {% endif -%}

        {% if card.horizontal -%}
      </div>
    </div>
    {% endif -%}

    {% if card.footer -%}
    <div id="footer-{{ i }}-{{ widget.id }}" class="card-footer {{ widget.body_class }} {{ card.body_class }}">{{ card.footer }}
    </div>
    {% endif -%}

  </div>
</div>
{% endfor -%}
