{# Accordion

Accordion is composed by a list of headers and contents. when a header is clicked
the content is opened and all other contents are closed.

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget
  elements classes:
    btn_class
    item_class
    header_class
    body_class

  cards: list of cards with the following parameters
    button: text of headers
    show: if True the card stats opened
    text: content of card
    elements classes:
      btn_class
      header_class
      body_class

- #}

{%include "include/widget_style.html" -%}
<div id="{{widget.id}}" class="accordion {{widget.class}}">
  {% for i, card in enum_list(widget.cards) -%}
  <div class="accordion-item {{widget.item_class}} {{card.item_class}}">
    <h2 id="{{widget.id}}-card{{i}}" class="accordion-header {{widget.header_class}} {{card.header_class}}">
      <button class="accordion-button {{widget.btn_class}} {{'' if card.show else 'collapsed'}}" type="button" data-bs-toggle="collapse"
      data-bs-target="#{{widget.id}}-collapse{{i}}" aria-expanded="false" aria-controls="{{widget.id}}-card{{i}}">
      {{card.button|safe}}
      </button>
    </h2>
    <div id="{{widget.id}}-collapse{{i}}" class="accordion-collapse collapse {{'show' if card.show else ''}}" aria-labelledby="{{widget.id}}-collapse{{i}}"
      {% if not widget.open %} data-bs-parent="#{{widget.id}}" {% endif %} >
      <div class="accordion-body {{widget.body_class}} {{card.body_class}}">{{card.text}}</div>
    </div>
  </div>
  {% endfor -%}
</div>
