<!DOCTYPE html>

<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block meta %}
  <meta name="description" content="{{page.description}}">
  <meta name="author" content="{{page.author}}">
  <meta name="generator" content="{{meta.generator}}">
  {% endblock %}
  {%include "include/base_css.html" -%}
  {% block css %}
  {% endblock %}
  <style>{{meta.style}}</style>
</head>

<body>
  <header class="header_area">
    {%include "include/navbar.html" -%}
  </header>

  <div class="{{page.container_class or 'container'}}"  style="min-height: 30rem;">

    <div class="row">
      <div class="col-md-9">
        <div class="blog-content">
          {% if page.blog.show_image %}
          <img src="{{get_media(page.blog.image)}}" width="100%" alt="">
          <p> <em>{{ get_markdown(page.blog.intro) }}</em> </p>
          {% endif %}
          {% block body %}
          {% endblock %}
        </div>
      </div>
      <div class="blog-aside col-md-3">
        <aside class="">
          {% if page.aside %}
          {{embed(page.aside)|safe}}
          {% else %}
          {{include('include/blogside.yaml')|safe}}
          {% endif %}
        </aside>
      </div>
    </div>

  </div>

  {%include "include/footer.html" -%}
  {%include "include/eurocookies.html" -%}
  {%include "include/base_js.html" -%}
</body>

</html>