{# cards

Implements almost all features of bootstrap cards.


parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  columns: number of columns. If not set the number is automatic or set by width property of each card
  breakpoint: set bootstrap breakpoint, defaut 'md'
  var_height: if true each card has it own height using the class h-100
  left_col: if you need you can start with an empty column
  gallery: if true activates fslightbox gallery
  class: classes for the widget, default 'p-4' because is common to have a padding
  row_class: classes for the row, default 'g-4' because is common to have a gutter
  col_class: class of all columns
  card_class: class for all cards
  image_class: class for all images or icons
  body_class: class for all bodys

  cards: list of cards to display, see _cards.html for details
-#}

{% include "include/widget_style.html" -%}
<div id="{{ widget.id }}" class="{{ widget.class or 'p-4' }}">
  <div id="row-{{ widget.id }}" class="row row-cols-{{ widget.breakpoint or 'md' }}-{{ widget.columns or 0 }} {{ widget.row_class or 'g-4' }}">
  {% if widget.left_col -%}
  <div class="col-{{ widget.breakpoint or 'md' }}-{{ widget.left_col }}"></div>
  {% endif -%}
  {% include "_cards.html" -%}
  </div>
</div>

