{# Carousel

Carousel displays a number of slides

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget
  elements classes:
    indicators_class
    indbtn_class
    inner_class
    image_class
    slide_class
    caption_class
    btn_class
    prev_class
    next_class

  slides: list of slides to display
    image: list with image url (from media path), image class and image alt text
    text: text or content for slide
    buttons: list of buttons, each with text, url and class
    image_alt
    elements classes:
      image_class
      slide_class
      caption_class

- #}
{%include "include/widget_style.html" -%}
<div id="{{widget.id}}" class="carousel slide {{widget.class}}" data-bs-ride="carousel">

  <div id="indicators-{{widget.id}}" class="carousel-indicators {{widget.indicators_class}}">
    {% for i,item in enum_list(widget.slides) -%}
    <button id="btn-{{i}}-{{widget.id}}" type="button" data-bs-target="#{{widget.id}}" data-bs-slide-to="{{i}}" class="{% if i==0 %}active{% endif %} {{widget.indbtn_class}} {{item.indbtn_class}}" aria-label="Slide {{i+1}}"></button>
    {% endfor -%}
  </div>

  <div id="inner-{{widget.id}}" class="carousel-inner {{widget.inner_class}}">
    {% for i,item in enum_list(widget.slides) -%}
    <div id="item-{{i}}-{{widget.id}}" class="carousel-item {% if i==0 %}active{% endif %}">
      <img id="img-{{i}}-{{widget.id}}" class="d-block w-100 {{widget.image_class}} {{item.image_class}}" src="{{get_media(item.image)}}" alt="{{item.image_alt}}">

      {% if item.text or item.buttons -%}
      <div  id="slide-{{i}}-{{widget.id}}" class="container {{widget.slide_class}} {{item.slide_class}}">
        <div  id="caption-{{i}}-{{widget.id}}" class="carousel-caption {{widget.caption_class}} {{item.caption_class}}">
          {{item.text}}
          <p>
            {% for btn in item.buttons -%}
            <a class="btn {{btn[2] or widget.btn_class}}" href="{{btn[1]}}">{{btn[0]}}</a>
            {% endfor -%}
          </p>
        </div>
      </div>
      {% endif -%}

    </div>
    {% endfor -%}
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#{{widget.id}}" data-bs-slide="prev">
    <span class="{{widget.prev_class or 'carousel-control-prev-icon'}}" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#{{widget.id}}" data-bs-slide="next">
    <span class="{{widget.next_class or 'carousel-control-next-icon'}}" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
