{# grid

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget
  breakpoint: set bootstrap breakpoint, defaut 'md'
  row_class: classes for the row
  col_class: class of all columns
  text_class: class for all text fildes within cells
  text_style: style for all text fildes within cells

  columns:
    column: size of column, automatic if undefined
    class: class for the cell
    text_class: class for text field
    text_style: style for text field
    inner_class: class for inder div within text field
    inner_style: style for inder div within text field

-#}
{%include "include/widget_style.html" -%}
<div id="{{widget.id}}" class="{{widget.class}}">
  <div id="row-{{widget.id}}" class="row {{widget.row_class}}">
    {% for i,col in enum_list(widget.columns) -%}
      <div id="col-{{i}}-{{widget.id}}" class="col-{{widget.breakpoint or 'md'}}{% if col.column -%}-{{col.column}}{% endif -%} {{widget.col_class}} {{col.class}}">
      {% if col.image %}
      {% if widget.gallery -%}<a data-fslightbox="{{widget.id}}" href="{{get_media(col.image)}}">{% endif -%}
      <img id="img-{{i}}-{{widget.id}}" src="{{get_media(col.image)}}" class="rounded img-fluid {{widget.image_class}} {{col.image_class}}" alt="{{col.image_alt}}">
      {% if widget.gallery -%}</a>{% endif -%}
      {% endif %}
      <div class="{{widget.text_class}} {{col.text_class}}" style="{{widget.text_style}} {{col.text_style}}">
        <div class="{{col.inner_class}}" style="{{col.inner_style}}">
          {{col.text}}
        </div>
      </div>
      </div>
    {% endfor %}
  </div>
</div>
