{# image_caption

This widget lets you to put some captions over an image.
Be aware to not put too much text because may look ugly on smaller screen.

You have 5 positions for the captions and you can place all of them

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget
  image: image file to display
  img_class: specific class for the image
  img_style: specific style for the image

The positions are:
  - topleft
  - topright
  - bottomleft
  - bottomright
  - centered

Each of the can have the following parameters:
  class: addictional class for position
  style: addictional style for position
  text: text for position

-#}
{% include "include/widget_style.html" -%}
<div id="{{ widget.id }}" class="image-caption {{ widget.class }}">
  <img class="img-caption {{ widget.img_class }}" style="{{ widget.img_style }}" src="{{ get_media(widget.image) }}">
  {%- if widget.topleft %}
  <div class="topleft-caption {{ widget.topleft.class }}" style="{{ widget.topleft.style }}">
    {{ widget.topleft.text }}
  </div>
  {% endif -%}
  {%- if widget.topright %}
  <div class="topright-caption {{ widget.topright.class }}" style="{{ widget.topright.style }}">
    {{ widget.topright.text }}
  </div>
  {% endif -%}
  {%- if widget.bottomleft %}
  <div class="bottomleft-caption {{ widget.bottomleft.class }}" style="{{ widget.bottomleft.style }}">
    {{ widget.bottomleft.text }}
  </div>
  {% endif -%}
  {%- if widget.bottomright %}
  <div class="bottomright-caption {{ widget.bottomright.class }}" style="{{ widget.bottomright.style }}">
    {{ widget.bottomright.text }}
  </div>
  {% endif -%}
  {%- if widget.centered %}
  <div class="centered-caption {{ widget.centered.class }}" style="{{ widget.centered.style }}">
    {{ widget.centered.text }}
  </div>
  {% endif -%}
</div>
