{# list

List is a replacement of standard html list build with ul,ol and li tags.
It has some enanchments:
- markers can be characters, icons or images
- markers can be placed to the left or to the right of text
- markers can be links
- text can embed widgets

The widget can have some default parameters that can be replaced on each items
in the list, so you can set the default style of list only once.

Only one type of marker is showed for each item, the resolution order is:
chars, icon, image.

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: classes for the widget
  marker_class: default classes for markers
  marker_style: default style for markers
  text_class: default classes for text
  text_style: default style for text
  chars: the marker is a text
  icon: the marker is an icon i.e. "bi bi-pencil"
  image: the marker is an image
  image_style: style only for images
  right: markers can be placed to the right
  align: can be "start", "center" or "end"

  list: items of the list each item can have:
    text: text to display, can be markdown or embed widgets

    the following parameters bypass the default parameters: marker_class,
    marker_style, text_class, text_style, chars, icon, image, image_style

-#}
{%include "include/widget_style.html" -%}
{%- set _col='' -%}
{%- if widget.align == 'center' -%}{%- set _justify="justify-content-center text-center" -%}{%- set _col='-auto' -%}{%- endif -%}
{%- if widget.align == 'end' -%}{%- set _justify="justify-content-end text-end" -%}{%- endif -%}
<div id="{{widget.id}}" class="container {{widget.class}}">
  {% for i, item in enum_list(widget.list) -%}
  <div  id="{{widget.id}}-{{i}}" class="row {{_justify}} {{widget.row_class}}"  style="{{widget.row_style}}">
    {% if widget.right %}<div class="col{{_col}} {{widget.text_class}} {{item.text_class}}" style="{{widget.text_style}} {{item.text_style}}">{{item.text}}</div>{% endif -%}
    <div class="col-auto {{widget.marker_class}} {{item.marker_class}}" style="{{widget.marker_style}} {{item.marker_style}}">
      {%- if item.url %}<a style="text-decoration: none; color: inherit;" href="{{get_url(item.url)}}">{% endif -%}
      {%- if item.chars -%}
        <span class="">{{item.chars}}</span>
      {%- elif item.icon -%}
        <i class="{{item.icon}}"></i>
      {%- elif item.image -%}
        <img src="{{get_media(item.image)}}" style="{{widget.image_style}} {{item.image_style}}">
      {%- else -%}
        {%- if widget.chars -%}
          <span class="">{{widget.chars}}</span>
        {%- elif widget.icon -%}
          <i class="{{widget.icon}}"></i>
        {%- elif widget.image -%}
          <img src="{{get_media(widget.image)}}" style="{{widget.image_style}}">
        {%- endif -%}
      {%- endif -%}
      {%- if item.url %}</a>{% endif -%}
    </div>
    {% if not widget.right %}<div class="col{{_col}} {{widget.text_class}} {{item.text_class}}" style="{{widget.text_style}} {{item.text_style}}">{{item.text}}</div>{% endif -%}
  </div>
  {% endfor -%}
</div>
