{# modal

Open modal dialog

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget
  text: text or content

-#}
{%include "include/widget_style.html" -%}
<div id="{{widget.id}}" class="modal {{widget.class or 'fade'}}" tabindex="-1" aria-labelledby="aria-{{widget.id}}" aria-hidden="true">
  <div id="dialog-{{widget.id}}" class="modal-dialog {{widget.dialog_class}}">
    <div id="content-{{widget.id}}" class="modal-content {{widget.content_class}}">
      {% if widget.header -%}
      <div id="header-{{widget.id}}" class="modal-header {{widget.header_class}}">
        <h5 id="title-{{widget.id}}" class="modal-title  {{widget.title_class}}">{{widget.header}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      {% endif -%}
      <div id="body-{{widget.id}}" class="modal-body {{widget.body_class}}">
        {{widget.text}}
      </div>
      {% if widget.buttons -%}
      <div id="footer-{{widget.id}}" class="modal-footer {{widget.footer_class}}">
        {% for button in widget.buttons -%}
        {{button}}
      {% endfor -%}
      </div>
      {% endif -%}
    </div>
  </div>
</div>
