{# offcanvas

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget
  text: text or content

-#}
{%include "include/widget_style.html" -%}
<div id="{{widget.id}}" class="offcanvas {{widget.class or 'offcanvas-start'}}" data-bs-scroll="{{widget.scroll or 'false'}}" data-bs-backdrop="{{widget.backdrop or 'true'}}" tabindex="-1" aria-labelledby="title-{{widget.id}}">

  {% if widget.header -%}
  <div id="header-{{widget.id}}" class="offcanvas-header {{widget.header_class}}">
    <h5 id="title-{{widget.id}}" class="offcanvas-title {{widget.title_class}}">{{widget.header}}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  {% endif -%}

  <div id="body-{{widget.id}}" class="offcanvas-body {{widget.body_class}}">
    <div class="{{widget.text_class}}">
      {{widget.text}}
    </div>
  </div>
</div>

