{%include "include/widget_style.html" -%}
<div id="{{widget.id}}" class="overlay-{{widget.transition or 'fade'}} {{widget.class}}" style="background-color: {{widget.color}};">
  <div class="overlay-text" style="color: {{widget.text_color}};">{{widget.text}}
  {%- if widget.button %}
  <a class="btn {{widget.button[2] or page.btn_class or btn_class or 'btn-outline-primary'}}" href="{{get_url(widget.button[1])}}">{{widget.button[0]}}</a>
  {% endif -%}
  </div>
</div>
