{# slick

Implements the slick carousel https://kenwheeler.github.io/slick/

It share the _cards.html object with the cards.html component, so each element
of the carousel is a card.

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: classes for the widget
  col_class: class of all columns
  card_class: class for all cards
  image_class: class for all images or icons
  body_class: class for all bodys

  cards: list of cards to display, see _cards.html for details

-#}


{% include "include/widget_style.html" -%}
<div class="row">
<div id="{{ widget.id }}" class="{{ widget.class }}">
  {% include "_cards.html" -%}
</div>
</div>

<script type="text/javascript">
  $(document).ready(function () {
    $('#{{ widget.id }}').slick({
      slidesToShow: 3,
      slidesToScroll: 3,
      dots: true,
      {{ widget.settings }}
      });
    });
</script>
