{# Tabbed

Tab is a list of "tab" buttons each with his content

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget
  tabs_class: class style for tabs
  navitem_class:
  navlink_class:
  content_class:
  item_class:

  tabs: list fo tabs
    label: text of tab button
    active: True if the content of tab should be opened at start
    class:
    navitem_class:
    navlink_class:
    content_class:
    text: text for content of tab


-#}
{%include "include/widget_style.html" -%}
<div id="{{widget.id}}" class="{{widget.class}}">

  <ul id="tabs-{{widget.id}}"  class="nav {{widget.tabs_class or 'nav-tabs'}}" role="tablist">
    {% for i, item in enum_list(widget.tabs) -%}
    <li id="tabs-{{i}}-{{widget.id}}" class="nav-item {{widget.navitem_class}} {{item.navitem_class}}" role="presentation">
      <button class="nav-link {{'active' if item.active else ''}} {{widget.navlink_class}} {{item.navlink_class}}" id="nav-{{widget.id}}-{{i}}-tab" data-bs-toggle="tab"
        data-bs-target="#nav-{{widget.id}}-{{i}}" type="button" role="tab" aria-controls="{{item.label}}"
        aria-selected="{{'true' if item.active else 'false'}}">{{item.label}}</button>
    </li>
    {% endfor -%}
  </ul>

  <div class="tab-content {{widget.content_class}}" id="nav-{{widget.id}}-content">
    {% for i, item in enum_list(widget.tabs) -%}
    <div class="tab-pane fade{{' show active' if item.active else ''}} {{widget.item_class}} {{item.class}}" id="nav-{{widget.id}}-{{i}}" role="tabpanel" aria-labelledby="nav-{{widget.id}}{{i}}-tab">
      {{item.text}}
    </div>
    {% endfor -%}
  </div>

</div>
