{# table

parameters:
  id: give a unique ID to every widget in the page
  style: additional css style rules for this ID
  class: set additional classes for the widget

-#}
{%include "include/widget_style.html" -%}
<div id="{{widget.id}}" class="{{widget.class}}">
  <table id="table-{{widget.id}}" class="table {{widget.table_class}}">
  {% if widget.header -%}
  <thead id="thead-{{widget.id}}" class="{{widget.thead_class}}">
    <tr>
      {%- for cell in widget.header %}
      <th scope="col">{{cell}}</th>
      {%- endfor %}
    </tr>
  </thead>
  {% endif -%}
  <tbody id="tbody-{{widget.id}}" class="{{widget.tbody_class}}">
    {%- for row in widget.rows %}
      <tr class="{{row.class}}">
        {%- for i, cell in enum_list(row.row) %}
        {% set td = ['th scope="row"','th'] if i < (widget.row_head or 0) else ['td','td'] -%}
        {% set index, cell = [{},cell] if cell is string else [widget.cells[cell[0]], cell[1] ] -%}
        <{{td[0]}} class="{{index.class}}" colspan="{{index.colspan}}" >{{cell}}</{{td[1]}}>
        {%- endfor %}
      </tr>
    {%- endfor %}

  </tbody>
  </table>
</div>
